body{
    position: relative;
}
.bj{
    background-image: url(../images/首页1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:999px;
}

.bj img{
    margin-left: 400px;
   margin-top: 250px;
}
.bj ul {
    display: inline;
    display: inline-flex;
    margin-left: 430px;
}
.bj ul p {
    margin: 5px;
    font-weight: bold;
}
.hengxian{
    margin-top: 90px;
    width: 16px;
    height: 10px;
    border-top: solid #000000 1px;
    position: absolute;
    left: 570px;
}
.goumai{
    padding-top: 60px;
    width: 60px;
    height: 60px;
    font-size: 14px;
    position: absolute;
    left: 550px;
}

.lunbo{
    margin-top: 405px;
    width: 40px;
    height: 10px;
    border-top: solid #ffffff 3px;
    opacity: 50;
 
}
.lunbo1{
    margin-top: 405px;
    width: 40px;
    height: 10px;
    border-top: solid #ffffff 3px;
    opacity: 50;
 
}
.lunbo2{
    margin-top: 398px;
    width: 40px;
    height: 10px;
    border-top: solid #ffffff 10px;
    opacity: 0.5;
 
}
.lunbo3{
    margin-top: 405px;
    width: 40px;
    height: 10px;
    border-top: solid #ffffff 3px;
    opacity: 50;
}

.db{
    margin-bottom: 40px;
   position: absolute;
   left: 550px;
}

.d4 {
display: inline;
display: inline-flex;
padding-top: 5px;
margin:0;



}
.d4 img{

    width: 465px;
    height: 300px;
}

.wen {
    position: relative;
    top: 10px;
    right: 10px;

}
.wen .p1{
    position: absolute;
    left: 200px;
    top: 10px;
    width:500px;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
    
}
.wen .p2{
    position: absolute;
    width: 500px;
    left: 210px;
    top: 31px;
    font-size: 14px;
}






.wen2 {
    position: relative;
    top: 10px;
    left: 430px;
    color: white;

}
.wen2 .p1{
    position: absolute;
    left: 200px;
    top: 10px;
    width:500px;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
    
}
.wen2 .p2{
    position: absolute;
    width: 500px;
    left: 250px;
    top: 41px;
    font-size: 14px;
}






.wen3 {
    position: relative;
    top: 10px;
    left: 930px;


}
.wen3 .p1{
    position: absolute;
    left: 210px;
    top: 25px;
    width:500px;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
    
}
.wen3 .p2{
    position: absolute;
    width: 500px;
    left: 210px;
    top: 51px;
    font-size: 14px;
}





.wen4 {
    
    position: relative;
    top: 10px;
    left: 1410px;
    color: rgb(255, 255, 255);


}
.wen4 .p1{
    position: absolute;
    left: 210px;
    top: 15px;
    width:150px;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
    
}
.wen4 .p2{
    position: absolute;
    width: 100px;
    left: 214px;
    top: 51px;
    font-size: 13px;
}

.zt{
    position: absolute;
    left: 150px;
    top: 1450px;
}

.gg{
    margin: 0 auto;
max-width: 1440px;
position: relative;
}

dt{
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    position: relative;
    left: 80px;
    height: 40px;

}
dd{
   height: 18px;
}
dd a{
 position: relative;
 left: 20px;
 color: #666;
 font-size: 14px;
 line-height: 17px;

}

.zt li{
margin-left: 40px;
margin-right: 40px;
}



.xiaoxi{
    position: relative;
    float: right;
    display: flex;
    bottom: 370px;
   right: 355px;
}
.xiaoxi p{
    font-size: 22px;
    color: #333;
    padding-left:10px ;
}
.xiaoxi img{
    padding-top: 20px;
    width:40px; 
    height:40px;
}





.dianhua{

   position: absolute;
   top: 1530px;
    left: 1410px;
}


.xian{
    width: 1200px;
margin-left: 250px;
margin-top: 380px;



}

.bq{
    margin-left: 250px;
    float: left;
}

.bq li{ 
    font-size: 12px;
    color: #666;
    
}

.bq1{
    font-size: 12px;
    margin-right: 300px;
    float: right;
    margin-top: 10px;
}
